<% if (site.posts.length){ %>
  <div class="panel margin-right margin-top">
    <div class="panel-head bg-main"><%= __('archive_a') %></div>
    <div class="panel-body">
      <%- list_archives({show_count: theme.show_count, type: theme.archive_type}) %>
    </div>
  </div>
<% } %>
