<% if (site.categories.length){ %>
  <div class="panel margin-right margin-top">
    <div class="panel-head bg-main"><%= __('categories') %></div>
    <div class="panel-body">
      <%- list_categories({show_count: theme.show_count}) %>
    </div>
  </div>
<% } %>
